# Logs
logs
*.log

# Test Roms and Save Files
*.gb
*.gbc
*.sav

# SST Tests
**/sst/*.json

# Build artifacts
.deps
build/
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.a
*.so
*.dylib
*.out
*.exe
*.dll
*.pdb

# Editor directories and files
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.venv
__pycache__
*.code-workspace
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System-specific files
.DS_Store
Thumbs.db

# Local Files
.cache/
*.local